# Lista 3 - C4A34
Fechamento do Ciclo 4: Manipulação de dados. Aula 34

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../dataset/train.csv')

In [3]:
df.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weatherconditions               object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries             object
Festival                        object
City                            object
Time_taken(min)                 object
dtype: object

1. Qual o número total de entregadores cadastrados na base de dados?

In [4]:
ans = df['Delivery_person_ID'].size
print('A base de dados possui um total de {} entregadores.'.format(ans))

A base de dados possui um total de 45593 entregadores.

2. Qual o número total de entregadores únicos cadastrados na base de dados?

In [5]:
ans = df['Delivery_person_ID'].unique().size
print('A base de dados possui um total de {} entregadores únicos.'.format(ans))

A base de dados possui um total de 1320 entregadores únicos.

3. Qual a média de idade dos entregadores por cidade?

In [13]:
dfaux = df[['Delivery_person_Age','City']].loc[df['City']!='NaN ']
dfaux = dfaux[['Delivery_person_Age','City']].loc[dfaux['Delivery_person_Age']!='NaN ']
dfaux['Delivery_person_Age'] = pd.to_numeric(dfaux['Delivery_person_Age'])
dfaux.groupby('City').mean().reset_index()

             City  Delivery_person_Age
0  Metropolitian             29.785124
1     Semi-Urban             32.565789
2          Urban             28.880115

4. Qual a mediana de idade dos entregadores por cidade?

In [14]:
dfaux.groupby('City').median().reset_index()

             City  Delivery_person_Age
0  Metropolitian                  30.0
1     Semi-Urban                  32.0
2          Urban                  28.0

5. Qual o número total de entregas feitas por densidade de tráfego?

In [20]:
df[['ID','Road_traffic_density']].groupby('Road_traffic_density').count().reset_index()

  Road_traffic_density     ID
0                High    4425
1                 Jam   14143
2                 Low   15477
3              Medium   10947
4                 NaN     601

6. Qual a média das avaliações das entregas feitas por densidade de tráfego?

In [29]:
dfaux = df[['Delivery_person_Ratings','Road_traffic_density']].loc[df['Delivery_person_Ratings'] != 'NaN ']
dfaux['Delivery_person_Ratings'] = pd.to_numeric(dfaux['Delivery_person_Ratings'])
dfaux[['Delivery_person_Ratings','Road_traffic_density']].groupby('Road_traffic_density').mean().reset_index()

  Road_traffic_density  Delivery_person_Ratings
0                High                  4.654634
1                 Jam                  4.595981
2                 Low                  4.647556
3              Medium                  4.660920
4                 NaN                  3.912088

7. Qual a quantidade de entregas feitas por cidade?

In [33]:
df[['ID','City']].groupby('City').count().reset_index()

             City     ID
0  Metropolitian   34093
1            NaN    1200
2     Semi-Urban     164
3          Urban   10136

8. Qual a média, mediana e desvio padrão das entregas feitas por cidade e por tipo de veículo?

In [27]:
dfaux = df[['City','Type_of_vehicle','Delivery_person_Ratings']]
dfaux = dfaux.loc[ dfaux['Delivery_person_Ratings'] != 'NaN ']
dfaux['Delivery_person_Ratings'] = pd.to_numeric(dfaux['Delivery_person_Ratings'])

In [34]:
print("Média das notas das entregas por cidade e por tipo de veículo")
dfaux.groupby(['City','Type_of_vehicle']).mean().reset_index()

Média das notas das entregas por cidade e por tipo de veículo

              City    Type_of_vehicle  Delivery_person_Ratings
0   Metropolitian            bicycle                  3.333333
1   Metropolitian   electric_scooter                  4.635733
2   Metropolitian         motorcycle                  4.619766
3   Metropolitian            scooter                  4.626992
4             NaN   electric_scooter                  4.700000
5             NaN         motorcycle                  4.633884
6             NaN            scooter                  4.709255
7      Semi-Urban   electric_scooter                  4.566667
8      Semi-Urban         motorcycle                  4.487143
9      Semi-Urban            scooter                  4.544444
10          Urban   electric_scooter                  4.668651
11          Urban         motorcycle                  4.656734
12          Urban            scooter                  4.687129

In [32]:
print("Mediana das notas das entregas por cidade e por tipo de veículo")
dfaux.groupby(['City','Type_of_vehicle']).median().reset_index()

Mediana das notas das entregas por cidade e por tipo de veículo

              City    Type_of_vehicle  Delivery_person_Ratings
0   Metropolitian            bicycle                       1.0
1   Metropolitian   electric_scooter                       4.7
2   Metropolitian         motorcycle                       4.7
3   Metropolitian            scooter                       4.7
4             NaN   electric_scooter                       4.7
5             NaN         motorcycle                       4.7
6             NaN            scooter                       4.7
7      Semi-Urban   electric_scooter                       4.7
8      Semi-Urban         motorcycle                       4.6
9      Semi-Urban            scooter                       4.6
10          Urban   electric_scooter                       4.7
11          Urban         motorcycle                       4.7
12          Urban            scooter                       4.7

In [31]:
print("Desvio padrão das notas das entregas por cidade e por tipo de veículo")
dfaux.groupby(['City','Type_of_vehicle']).std().reset_index()

Desvio padrão das notas das entregas por cidade e por tipo de veículo

              City    Type_of_vehicle  Delivery_person_Ratings
0   Metropolitian            bicycle                  2.581989
1   Metropolitian   electric_scooter                  0.385198
2   Metropolitian         motorcycle                  0.316549
3   Metropolitian            scooter                  0.364531
4             NaN   electric_scooter                  0.286039
5             NaN         motorcycle                  0.291762
6             NaN            scooter                  0.254783
7      Semi-Urban   electric_scooter                  0.513160
8      Semi-Urban         motorcycle                  0.365380
9      Semi-Urban            scooter                  0.360940
10          Urban   electric_scooter                  0.441342
11          Urban         motorcycle                  0.282740
12          Urban            scooter                  0.295107

In [30]:
print("Quantidade de notas das entregas por cidade e por tipo de veículo")
dfaux.groupby(['City','Type_of_vehicle']).count().reset_index()

Quantidade de notas das entregas por cidade e por tipo de veículo

              City    Type_of_vehicle  Delivery_person_Ratings
0   Metropolitian            bicycle                        15
1   Metropolitian   electric_scooter                      2639
2   Metropolitian         motorcycle                     19336
3   Metropolitian            scooter                     10666
4             NaN   electric_scooter                        89
5             NaN         motorcycle                       605
6             NaN            scooter                       443
7      Semi-Urban   electric_scooter                         3
8      Semi-Urban         motorcycle                       140
9      Semi-Urban            scooter                         9
10          Urban   electric_scooter                       823
11          Urban         motorcycle                      5413
12          Urban            scooter                      3504

9. Qual a primeira data de entrega por cada cidade?

In [54]:
filtro = ['City','Order_Date','Time_Orderd','Time_Order_picked']

dfaux = df[filtro]
dfaux = dfaux.loc[dfaux['City']!= 'NaN ']
dfaux = dfaux.loc[dfaux['Time_Orderd']!= 'NaN ']
dfaux[['City','Order_Date']].groupby('Order_Date').min()
dfaux

                 City  Order_Date Time_Orderd Time_Order_picked
0              Urban   19-03-2022    11:30:00          11:45:00
1      Metropolitian   25-03-2022    19:45:00          19:50:00
2              Urban   19-03-2022    08:30:00          08:45:00
3      Metropolitian   05-04-2022    18:00:00          18:10:00
4      Metropolitian   26-03-2022    13:30:00          13:45:00
...               ...         ...         ...               ...
45588  Metropolitian   24-03-2022    11:35:00          11:45:00
45589  Metropolitian   16-02-2022    19:55:00          20:10:00
45590  Metropolitian   11-03-2022    23:50:00          00:05:00
45591  Metropolitian   07-03-2022    13:35:00          13:40:00
45592  Metropolitian   02-03-2022    17:10:00          17:15:00

[42718 rows x 4 columns]

10. Qual a última data de entrega por cada cidade?

11. Qual a média de avaliações das entregas feitas por condições climáticas?

12. Qual o valor da avaliação mais baixa feita por tipo de condição climática e por densidade de tráfego?

13. Qual a média, mediana e desvio padrão das avaliações por cada tipo de condições de veículos?

14. Quantas entreagas foram feitas no Festival?

15. Qual a avaliação média das entregas feitas no Festival?

16. Qual a menor avaliação feita em uma entrega no Festival e por cidade?

17. Qual a maior avaliação feita por tipo de pedido?

18. Qual a idade do entregador mais velho da planilha de dados?

19. Qual a idade do entregador mais novo da planilha de dados?

20. Quantas entregas foram feitas em cada condição climática?

21. Quantas entregas foram feitas em cada tipo de densidade de trânsito?