# Lista 3 - C4A34
Fechamento do Ciclo 4: Manipulação de dados. Aula 34

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../dataset/train.csv')

In [3]:
df.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weatherconditions               object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries             object
Festival                        object
City                            object
Time_taken(min)                 object
dtype: object

1. Qual o número total de entregadores cadastrados na base de dados?

In [4]:
ans = df['Delivery_person_ID'].size
print('A base de dados possui um total de {} entregadores.'.format(ans))

A base de dados possui um total de 45593 entregadores.

2. Qual o número total de entregadores únicos cadastrados na base de dados?

In [5]:
ans = df['Delivery_person_ID'].unique().size
print('A base de dados possui um total de {} entregadores únicos.'.format(ans))

A base de dados possui um total de 1320 entregadores únicos.

3. Qual a média de idade dos entregadores por cidade?

In [13]:
dfaux = df[['Delivery_person_Age','City']].loc[df['City']!='NaN ']
dfaux = dfaux[['Delivery_person_Age','City']].loc[dfaux['Delivery_person_Age']!='NaN ']
dfaux['Delivery_person_Age'] = pd.to_numeric(dfaux['Delivery_person_Age'])
dfaux.groupby('City').mean().reset_index()

             City  Delivery_person_Age
0  Metropolitian             29.785124
1     Semi-Urban             32.565789
2          Urban             28.880115

4. Qual a mediana de idade dos entregadores por cidade?

In [14]:
dfaux.groupby('City').median().reset_index()

             City  Delivery_person_Age
0  Metropolitian                  30.0
1     Semi-Urban                  32.0
2          Urban                  28.0

5. Qual o número total de entregas feitas por densidade de tráfego?

In [20]:
df[['ID','Road_traffic_density']].groupby('Road_traffic_density').count().reset_index()

  Road_traffic_density     ID
0                High    4425
1                 Jam   14143
2                 Low   15477
3              Medium   10947
4                 NaN     601

6. Qual a média das avaliações das entregas feitas por densidade de tráfego?

In [29]:
dfaux = df[['Delivery_person_Ratings','Road_traffic_density']].loc[df['Delivery_person_Ratings'] != 'NaN ']
dfaux['Delivery_person_Ratings'] = pd.to_numeric(dfaux['Delivery_person_Ratings'])
dfaux[['Delivery_person_Ratings','Road_traffic_density']].groupby('Road_traffic_density').mean().reset_index()

  Road_traffic_density  Delivery_person_Ratings
0                High                  4.654634
1                 Jam                  4.595981
2                 Low                  4.647556
3              Medium                  4.660920
4                 NaN                  3.912088

7. Qual a quantidade de entregas feitas por cidade?

In [33]:
df[['ID','City']].groupby('City').count().reset_index()

             City     ID
0  Metropolitian   34093
1            NaN    1200
2     Semi-Urban     164
3          Urban   10136

8. Qual a média, mediana e desvio padrão das entregas feitas por cidade e por tipo de veículo?

In [35]:
# df.dtypes
# 'City','Type_of_vehicle'

9. Qual a primeira data de entrega por cada cidade?

10. Qual a última data de entrega por cada cidade?

11. Qual a média de avaliações das entregas feitas por condições climáticas?

12. Qual o valor da avaliação mais baixa feita por tipo de condição climática e por densidade de tráfego?

13. Qual a média, mediana e desvio padrão das avaliações por cada tipo de condições de veículos?

14. Quantas entreagas foram feitas no Festival?

15. Qual a avaliação média das entregas feitas no Festival?

16. Qual a menor avaliação feita em uma entrega no Festival e por cidade?

17. Qual a maior avaliação feita por tipo de pedido?

18. Qual a idade do entregador mais velho da planilha de dados?

19. Qual a idade do entregador mais novo da planilha de dados?

20. Quantas entregas foram feitas em cada condição climática?

21. Quantas entregas foram feitas em cada tipo de densidade de trânsito?